Source: perfsonar-lscachedaemon
Section: misc
Priority: extra
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>,
 Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9.0.0), debhelper (>= 9.20160709) | dh-systemd
Standards-Version: 3.9.8
Homepage: http://www.perfsonar.net
Vcs-Git: https://github.com/perfsonar/ls-cache-daemon.git
Vcs-Browser: https://github.com/perfsonar/ls-cache-daemon/tree/debian/jessie

Package: perfsonar-lscachedaemon
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-general-perl, 
 liblog-log4perl-perl, libfile-copy-recursive-perl, libwww-perl,
 libdate-manip-perl, liburi-perl, liblog-dispatch-filerotate-perl,
 libperfsonar-perl, perfsonar-common
Description: perfSONAR Lookup Service Cache Daemon
 The perfSONAR-PS LS Cache Daemon creates a cache of all services registered in
 the LS by downloading a compressed file and expanding it to a configured
 directory.
